<div class="chat-window">
    <div class="chat-sidebar">
        <header>
            <input type="search" placeholder="Быстрый поиск">
            <a href="" class="edit"></a>
        </header>
        <section>
            <ul>
                <li ng-repeat="group in groups">
                    <a href="" class="person group">
                        <div class="avatar">
                            <p ng-if="group.avatar == ''" ng-bind="group.name.charAt(0)"></p>
                            <div class="avatar-image" ng-if="group.avatar !== ''" bgimage="{{group.avatar}}"></div>
                        </div>
                        <div class="name" ng-bind="group.name"></div>
                        <div class="new-mess" ng-if="group.newmess && group.newmess !== 0" ng-bind="group.newmess"></div>
                    </a>
                </li>
                <li ng-repeat="user in users | orderBy:'-newmess'">
                    <a href="" class="person">
                        <div class="avatar">
                            <p ng-if="user.avatar == ''" ng-bind="user.name.charAt(0)"></p>
                            <div class="avatar-image" ng-if="user.avatar !== ''" bgimage="{{user.avatar}}"></div>
                        </div>
                        <div class="name" ng-bind="user.name"></div>
                        <div class="new-mess" ng-if="user.newmess && user.newmess !== 0" ng-bind="user.newmess"></div>
                    </a>
                </li>
            </ul>
        </section>
    </div>
    <div class="chat-body">
        <header>
            <div class="chat-name">
                <div class="avatar">M</div>
                <div class="name">MaximModus</div>
            </div>
            <select name="" id="">
                <option value="">8 участников</option>
            </select>
        </header>
        <section class="body">
            <div class="messages">
                <div class="message-wrapper">
                    <div class="info">
                        <a href="">Sandy Murphy</a>
                        <span>Вчера, 20:12</span>
                    </div>
                    <div class="message">
                        <a href="" class="avatar">М</a>
                        <div class="text">Привет</div>
                    </div>
                </div>
                <div class="message-wrapper">
                    <div class="info">
                        <a href="">Sandy Murphy</a>
                        <span>Вчера, 20:12</span>
                    </div>
                    <div class="message">
                        <a href="" class="avatar">М</a>
                        <div class="text">Привет</div>
                    </div>
                </div>
                <div class="message-wrapper">
                    <div class="info">
                        <a href="">Sandy Murphy</a>
                        <span>Вчера, 20:12</span>
                    </div>
                    <div class="message">
                        <a href="" class="avatar">М</a>
                        <div class="text">Привет</div>
                    </div>
                </div>
                <div class="message-wrapper">
                    <div class="info">
                        <a href="">Sandy Murphy</a>
                        <span>Вчера, 20:12</span>
                    </div>
                    <div class="message">
                        <a href="" class="avatar">М</a>
                        <div class="text">Привет</div>
                    </div>
                </div>
                <div class="message-wrapper">
                    <div class="info">
                        <a href="">Sandy Murphy</a>
                        <span>Вчера, 20:12</span>
                    </div>
                    <div class="message">
                        <a href="" class="avatar">М</a>
                        <div class="text">Привет</div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <form action="">
                <div>
                    <textarea name="" id="" cols="20" rows="2" placeholder="Say message..."></textarea>
                    <div class="input-wrapper">
                        <input type="submit" value="">
                    </div>
                </div>
                <div class="file">
                    <input type="file">
                </div>
            </form>
        </footer>
    </div>
</div>